.about {
  padding-top: 90px;
  padding-bottom: 92px;
  position: relative;

  @include small-tablet {
    padding-top: 50px;
    padding-bottom: 40px;
  }

  &__container {
    position: relative;
  }

  &__bg {
    position: absolute;
    right: 0;
    top: -30%;
  }

  &__left-block {
    position: relative;
  }

  &__img-tv {
    position: absolute;
    top: 0;
    right: 0;
    animation: upAndDown 3s ease infinite;

    @include tablet {
      display: none;
    }
  }

  &__img {
    @include tablet {
      display: none;
    }
  }

  &__mobile-img {
    display: none;

    @include tablet {
      display: block;
    }
  }

  &__vr {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50vw;
    z-index: -1;
  }

  &__left-block {

    @include small-tablet {
      order: 1;
      width: 70%;
      margin: 0 auto;
      order: 1;
    }
  }

  &__right-block {

    @include small-tablet {
      order: 2;
    }
  }
}


