.header {
  position: absolute;
  width: 100%;
  top: 10px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    display: block;
    width: 286px;

    img {
      width: 100%;
      object-fit: cover;
    }

    @include tablet {
      width: 200px;
    }

    @include small-tablet {
      width: 150px;
    }
  }

  &__nav {
    display: flex;
    align-self: end;

    @include tablet {
      position: fixed;
      right: 0;
      top: 0;
      width: 50vw;
      background-color: var(--light-color);
      height: 100vh;
      flex-direction: column;
      z-index: 20;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      transform: translate(100%);
      transition: all 0.3s ease;
    }

    @include small-tablet {
      width: 100%;
    }

    &--active {
      transform: translate(0);
      border-radius: 0;
    }
  }

  &__nav-list {
    @include flex-all-center;
    gap: 45px;
    margin-right: 55px;

    @include tablet {
      flex-direction: column;
      margin-right: 0;
      margin-bottom: 40px;
      gap: 20px;
    }
  }

  &__nav-item {
    line-height: 24px;
    color: var(--blue-color);
  }

  &__nav-link {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 2px;
      background-color: var(--blue-color);
      transition: width 0.3s ease;
    }

    &:hover {
      &:before {
        width: 100%;
      }
    }

    @include tablet {
      font-size: 30px;
    }
  }

  &__btn {
    align-self: center;
  }
}
