<section class="about">
  <div class="container about__container">
    <div class="about__wrapper content">
      <div class="about__left-block">
        <img src="img/man-tv.svg" alt="playing man" class="about__img" />
      </div>
      <div class="about__right-block">
        <h3 class="content__subtitle">About VR Glasses</h3>
        <h2 class="content__title">The New VR Glasses Series</h2>
        <p class="content__descr">
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout. The point of
          using Lorem Ipsum is that it has a more-or-less normal distribution of
          letters as opposed.
        </p>
        <button class="content__btn btn btn-reset">Get Started Now</button>
      </div>
    </div>
    <img src="img/vr-man.png" alt aria-hidden="true" class="about__bg" />
  </div>
  <img class="about__vr" src="img/vr.svg" alt aria-hidden="true" />
</section>
