<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <a href="/" class="footer__logo">
        <img src="img/logo.png" alt="logo" />
      </a>
      <span class="footer__copy"
        >Copyright © 2022 HEALAS.LT. All Rights Reserved.</span
      >
      <div class="footer__social">
        <a href="#" class="footer__social-icon">
          <svg>
            <use xlink:href="img/sprite.svg#facebook" />
          </svg>
        </a>
        <a href="#" class="footer__social-icon">
          <svg>
            <use xlink:href="img/sprite.svg#twitter" />
          </svg>
        </a>
        <a href="#" class="footer__social-icon">
          <svg>
            <use xlink:href="img/sprite.svg#instagram" />
          </svg>
        </a>
      </div>
    </div>
  </div>
</footer>
