<section class="hero">
  <div class="container">
    <h1 class="visually-hidden">GoGames</h1>
    <div class="hero__wrapper content">
      <div class="hero__left-block">
        <img src="img/arrows.svg" alt aria-hidden="true" class="hero__img-arrows">
        <h3 class="hero__subtitle content__subtitle">Gaming Consoles</h3>
        <h2 class="hero__title content__title">
          Try It, Rent It,
          <span class="hero__title hero__title--blue">Save $50!</span>
        </h2>
        <p class="hero__descr content__descr">
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout. The point of
          using Lorem Ipsum is that it has a more-or-less normal distribution of
          letters as opposed.
        </p>
        <button class="hero__btn btn btn-reset content__btn">Get Started Now</button>
        <img src="img/x.png" alt aria-hidden="true" class="hero__img-x" />
      </div>
      <div class="hero__right-block">
        <img
          src="img/circle.svg"
          alt
          aria-hidden="true"
          class="hero__img-circle"
        />
        <div class="hero__img">
          <img src="img/boy.svg" alt aria-hidden="true" class="hero__boy" />
          <img
            src="img/head-boy.svg"
            alt
            aria-hidden="true"
            class="hero__head-boy"
          />
        </div>
        <img
          class="hero__box-top"
          src="img/box-top.png"
          alt
          aria-hidden="true"
        />
        <img
          class="hero__box-bottom"
          src="img/box-bottom.png"
          alt
          aria-hidden="true"
        />
      </div>
      <img class="hero__img-dots" src="img/dots.png" alt aria-hidden="true">
    </div>
  </div>
</section>
