<section class="plan">
  <div class="container">
    <h3 class="plan__subtitle">Our Pricing</h3>
    <h2 class="plan__title">Choose Your Plan</h2>
    <div class="plan__wrapper">
      <div class="plan__card card card--active">
        <div class="check">
          <div class="check__circle"></div>
        </div>
        <h4 class="card__title">Basic</h4>
        <span class="card__price">
          $
          <span class="card__price card__price--big">50.00</span>
          <span class="card__price card__price--small">/ Per Hour</span>
        </span>
        <ul class="card__list list-reset">
          <li class="card__item">10 users included</li>
          <li class="card__item">2 GB of storage</li>
          <li class="card__item">Email support</li>
          <li class="card__item">Help center access</li>
          <li class="card__item">10 users included</li>
        </ul>
        <button class="btn btn-reset card__btn">Select This Plan</button>
      </div>
      <div class="plan__card card">
        <div class="check">
          <div class="check__circle"></div>
        </div>
        <h4 class="card__title">Standard</h4>
        <span class="card__price">
          $
          <span class="card__price card__price--big">95.00</span>
          <span class="card__price card__price--small">/ Per Hour</span>
        </span>
        <ul class="card__list list-reset">
          <li class="card__item">10 users included</li>
          <li class="card__item">2 GB of storage</li>
          <li class="card__item">Email support</li>
          <li class="card__item">Help center access</li>
          <li class="card__item">10 users included</li>
        </ul>
        <button class="btn btn-reset card__btn">Select This Plan</button>
      </div>
      <div class="plan__card card">
        <div class="check">
          <div class="check__circle"></div>
        </div>
        <h4 class="card__title">Premium</h4>
        <span class="card__price">
          $
          <span class="card__price card__price--big">120.00</span>
          <span class="card__price card__price--small">/ Per Hour</span>
        </span>
        <ul class="card__list list-reset">
          <li class="card__item">10 users included</li>
          <li class="card__item">2 GB of storage</li>
          <li class="card__item">Email support</li>
          <li class="card__item">Help center access</li>
          <li class="card__item">10 users included</li>
        </ul>
        <button class="btn btn-reset card__btn">Select This Plan</button>
      </div>
    </div>
  </div>
</section>
