html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  font-weight: 500;
  font-size: 18px;
  -webkit-text-size-adjust: 100%;
  background-color: #ffe6d7;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 18px;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.btn {
  position: relative;
  padding: 14px 19px;
  background: linear-gradient(94.66deg, #4499d9 17.46%, #7367be 87.77%);
  border-radius: 25px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  transition: all 0.5s ease;
  z-index: 5;

  &::before {
    opacity: 1;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background: linear-gradient(94.66deg, #4499d9 17.46%, #7367be 87.77%);
    transition: all 0.5s ease;
    z-index: -1;
  }

  &::after {
    content: "";
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background: linear-gradient(0deg, #4499d9 100%, #7367be 0%);
    transition: all 0.5s ease;
    z-index: -1;
  }

  &:hover {
    &::before {
      opacity: 0;
      visibility: hidden;
    }

    &::after {
      opacity: 1;
      visibility: visible;
    }
  }
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 35px;

  &__subtitle {
    margin: 0;
    margin-bottom: 26px;
    font-weight: 500;
    font-size: 23px;
    line-height: 24px;
    color: var(--blue-color);
  }

  &__title {
    margin: 0;
    font-family: "QanelasSoft";
    margin-bottom: 31px;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: var(--pink-color);
  }

  &__descr {
    margin: 0;
    margin-bottom: 36px;
    line-height: 29px;
    color: #826f8c;
    font-weight: 500;
    font-size: 18px;
  }

  &__btn {
    padding: 14px 36px;
    font-size: 18px;
  }
}
