// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "JosefinSans", sans-serif;
  --content-width: 1167px;
  --container-offset: 50px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --blue-color: #446381;
  --purple-color: #826F8C;
  --lightPurple-color: #856576;
  --pink-color: #e5686f;
  --beige-color: #eaac8b;
}
